In [2]:
%load_ext autoreload
%autoreload 2

from helper import preprocess 

import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
df = pd.DataFrame(
    data=dict(
        a=[1, 2, 3],
        b=[4, 5, 6],
        )
)
df

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
format_to_3digits = lambda x: preprocess.zero_padding(x, width=3)

(
    df
    .assign(
        c=lambda x: x["a"].map(format_to_3digits)
    )
)

   a  b    c
0  1  4  001
1  2  5  002
2  3  6  003